/* default */
html{
    width: 100%;
    display: flex;
    justify-content: center;
}

body{
    margin: 0;
    padding: 0;
    
    width: 800px;
}

ol, ul{
    list-style: none;
    padding: 0 !important;
}

/* header */
header{
    text-align: center;
}

header h1{
    margin: 21px 0 0 0;
}

/* main */
main{
    /* padding: 10px; */
    text-align: center;
}

main .notice{
    margin : 0 0 20px 0;

    font-size: 20px;
    font-weight: bold;
    text-align: center;

    background: #FBB;
    color: #F00;
}

body main article#question ul li div{
    display: grid;
    grid-template-columns: 50px 1fr 1fr;
    align-items: center;
}

body main article#question ul li div p{
    margin: 0;
}

body > main > article#question > ul li div > p:nth-child(1) {
    font-size: 20px;
    font-weight: bold;
}

body > main > article#question > ul li div > p:nth-child(2) {
    font-size: 20px;
    margin: 0px;
    padding: 20px 0 20px 10px;
    text-align: left;
}

body main article#question ul li div div{
    display: flex;
    justify-content: space-around;
    padding: 0 20px 0 0;
}

/* prev next arrow buttons */
body > main > article:nth-child(5) > div.pageControl{
    margin: 20px;
}

body > main > article:nth-child(5) > div.pageControl > span.pageArrow > a{
    text-decoration: none;
    font-size: 20px;
    color: #FFF;
    background: #04AA6D;

    width: 30px;
    height: 30px;
    border-radius: 50%;

    display: inline-block;
    align-items: center;
    justify-content: center;
}

/* below the questions, some buttons */

body > main > article:nth-child(3){
    margin: 20px 0 0 0;
}

body > main > article#question > div > div > label > p{
    font-size: 16px;
}

body > main > article > div > button:hover{
    animation: 0.3s linear infinite alternate rotating;
}

@keyframes rotating{
    from { transform: rotate(-6deg); }
    to { transform: rotate(6deg); }
}

/* footer */
footer{
    margin: 0 0 30px 0;
}

.divider{
    width: 100%;
    height: 0px;
    border: 1px solid grey;
    margin: 10px 0;
}

footer .info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;

    padding: 0 15px;
}

footer div.copyright{
    color: #999;
    font-style: italic;

    /* padding: 0 0 0 15px; */
}

footer div.address{
    color: #999;
    font-style: italic;
    text-align: right;

    /* padding: 0 15px 0 0; */
}

/* slider */
#question {
    width: 800px;
    height: 2500px;

    overflow: hidden;
}

#question > ul{
    padding: 0;
    margin: 0;

    width: 4000px;
    height: 2500px;

    display: flex;
}

#question > ul > li{
    width: 800px;
}