/* whole */
body{
    margin: 0;
    padding: 0;    
}

/* footer */
.divider{
    width: 100%;
    height: 0px;
    border: 1px solid grey;
    margin: 10px 0;
}

footer div{
    color: #999;
    font-style: italic;
}